<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <div class="wrapper">
      <%- include('./partials/header'); %>
      <main>
        <%- include('./partials/nav'); %>
        <div class="content">
          <h1>Viewing album's details</h1>
          <h2><%= album_detail.name %></h2>
          <div class="detail-container">
            <div class="detail-text">
              <h3>Artist:</h3>
              <a href="<%= album_detail.artist.url %>"
                ><%= album_detail.artist.name %></a
              >
              <h3>Released:</h3>
              <%= album_detail.released.getFullYear() %>
              <h3>Genres:</h3>
              <% if (!album_detail.genre.length) { %> No genres specified for
              this album. <% } else {%>
              <ul>
                <% album_detail.genre.forEach((genre) => { %>
                <li><a href="<%= genre.url %>"><%= genre.name %></a></li>
                <%})}%>
              </ul>
              <h3>Label:</h3>
              <%= album_detail.label%>
            </div>
            <img src="<%= album_detail.picture_url %>" />
          </div>
          <div class="detail-list">
            <h2>Listing products:</h2>
            <% if (!products.length) { %> Currently there's no products for this
            album. <%} else { %>
            <ul>
              <% products.forEach((product) => { %>
              <li>
                <a href="<%= product.url %>"
                  ><%= product.format.name %> - <%=product._id%></a
                >
              </li>
              <%})%>
            </ul>
            <%}%>
          </div>
          <a href="<%=album_detail.url%>/delete"
            ><button class="delete-btn">Delete</button></a
          >
        </div>
      </main>
      <%- include('./partials/footer'); %>
    </div>
  </body>
</html>
