<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <div class="wrapper">
      <%- include('./partials/header'); %>
      <main>
        <%- include('./partials/nav'); %>
        <div class="content">
          <h1>Add new album</h1>
          <form method="post" action="" enctype="multipart/form-data">
            <label for="name">Album:</label>
            <input
              type="text"
              placeholder="Name"
              name="name"
              value="<%= !locals.album ? '' : album.name %>"
            />
            <label for="artist">Artist:</label>
            <select name="artist">
            <% if (artists) { artists.sort((a, b) =>
              a.name.localeCompare(b.name)); artists.forEach((artist) => { %>
              <option value="<%=artist._id%>" <% if (locals.album && artist._id.toString() === locals.album.artist.toString()) { %>
                selected <%}%> ><%=artist.name%>
              </option>
              <%}) }%>
            </select>
            <label for="released">Released:</label>
            <input
              type="text"
              placeholder="YYYY"
              name="released"
              value="<%=!locals.album ? '': album.released %>"
            />
            <label for="released">Label:</label>
            <input
              type="text"
              placeholder="Universal Music"
              name="label"
              value="<%=!locals.album ? '': album.label %>"
            />
            <label for="genre">Genre:</label>
            <div class="form-genre-container">
              <% if (!genres.length) {%> No genres defined. <%} else {%><%
              genres.forEach((genre) => { %>
              <div class="form-genre-checkbox">
                <input type="checkbox" name="genre" value="<%=genre._id%>" id="<%=genre._id%>"
                <% if (locals.genres && genre.checked === 'true') { %>
                  checked <%}%>/>
                <label for="<%=genre._id%>"><%=genre.name%></label>
              </div>
              <%})}%>
            </div>
            <label for="image">Image (optional):</label>
            <span class="file-restrictions">Max. 5mb, recommended dimensions: min. 300x300px</span>
            <input type="file" name="image" />
            <button type="submit">Submit</button>
          </form>
          <ul>
            <% if (locals.errors) { errors.forEach((error) => { %>
            <li class="error"><%=error.msg%></li>
            <%}) } %>
          </ul>
        </div>
      </main>
      <%- include('./partials/footer'); %>
    </div>
  </body>
</html>
